<!-- START COMPANY BRAND LOGO  -->
			<div id="atf-brand-area" class="atf-brand-area atf-section-padding">
				<div class="atf-brand-overlay">
					<div class="container">
						<div class="atf-slider atf-style2">
							<div class="slick-container" data-autoplay="0" data-loop="1" data-speed="600" data-center="0"  data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="3" data-md-slides="3" data-lg-slides="5" data-add-slides="3">
								<div class="slick-wrapper">
									<div class="slick-slide-in">
										<div class="atf-brand-active">
											<a href="#"><img src="assets/img/partner/1.png" alt="image"></a>
										</div>
									</div><!-- .slick-slide-in -->

									<div class="slick-slide-in">
										<div class="atf-brand-active">
											<a href="#"><img src="assets/img/partner/2.png" alt="image"></a>
										</div>
									</div><!-- .slick-slide-in -->

									<div class="slick-slide-in">
										<div class="atf-brand-active">
											<a href="#"><img src="assets/img/partner/3.png" alt="image"></a>
										</div>
									</div><!-- .slick-slide-in -->
									<div class="slick-slide-in">
										<div class="atf-brand-active">
											<a href="#"><img src="assets/img/partner/4.png" alt="image"></a>
										</div>
									</div><!-- .slick-slide-in -->
									<div class="slick-slide-in">
										<div class="atf-brand-active">
											<a href="#"><img src="assets/img/partner/5.png" alt="image"></a>
										</div>
									</div><!-- .slick-slide-in -->

									<div class="slick-slide-in">
										<div class="atf-brand-active">
											<a href="#"><img src="assets/img/partner/1.png" alt="image"></a>
										</div>
									</div><!-- .slick-slide-in -->

									<div class="slick-slide-in">
										<div class="atf-brand-active">
											<a href="#"><img src="assets/img/partner/2.png" alt="image"></a>
										</div>
									</div><!-- .slick-slide-in -->

								</div><!-- .slick-slide-Wrapper -->
							</div><!-- .slick-container -->

							<div class="pagination atf-style1 atf-flex atf-hidden"></div> <!-- If dont need Pagination then add class .atf-hidden -->
							<div class="swipe-arrow atf-style1"> <!-- If dont need navigation then add class .atf-hidden -->
								<div class="slick-arrow-left"><i class="fa fa-chevron-left"></i></div>
								<div class="slick-arrow-right"><i class="fa fa-chevron-right"></i></div>
							</div>
						</div><!-- .atf-slider -->
					</div><!-- .container -->
				</div><!-- END OVERLAY -->
			</div>
			<!-- END COMPANY BRAND LOGO -->
<!-- START NEWSLETTER -->
			<section  class="atf-newsletter atf-section-padding">
				<div class="container">
					<div class="row clearfix justify-content-center">
						<div class="col-xl-6 col-lg-6 col-12 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
							<div class="atf-mailchamp-headding">
								<h2>Subcribe Today of Newletter</h2>
							</div>
						</div><!-- END COL -->

						<div class="col-xl-6 col-lg-6 col-12 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
							<div class="atf-mailchamp-subscribe">
								<form class="form-group" id="mc-form">
									<input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required="required">
									<button type="submit" id="subscribe-button" class="btn"><i class="fas fa-envelope"></i></button>
										<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
										<br>
										<label class="atf-subscription-label" for="email"></label>
								</form>
							</div>
						</div><!-- END COL -->
					</div><!-- END ROW -->
				</div><!-- END CONTAINER -->
			</section>
			<!-- END NEWSLETTER -->



			<!-- FOOTER SECTION START-->
			<footer class="atf-footer-area atf-pattern-area">
				<div class="container">
					<div class="atf-footer-top mt-5">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-12 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
								<div class="atf-footer-box">
									<h5><a href=""><img class="atf-footer-logo" src="assets/img/logo.png" alt="" /></a></h5>
									<ul class="pr-lg-5">
										<li> PIASS College Kasur </li>
										<li>+923000071456 <br> +923084046064 <br> +923071020019</li>
										<li>msalmankasuri@gmail.com</li>
									</ul>
								</div>
							</div><!--- END COL -->

							<div class="col-lg-2 col-md-6 col-12 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
								<h5>Quick Links</h5>
								<ul class="atf-list-menu">
									<li> <a href="#"><i class="fas fa-angle-right mr-2"></i>Get Stared</a></li>
									<li> <a href="#"><i class="fas fa-angle-right mr-2"></i>Our Team</a></li>
									<li> <a href="#"><i class="fas fa-angle-right mr-2"></i>About Us</a></li>
									<li> <a href="#"><i class="fas fa-angle-right mr-2"></i>Need Helps</a></li>
									<li> <a href="#"><i class="fas fa-angle-right mr-2"></i>Contact Us</a></li>
								</ul>
							</div><!--- END COL -->

							<div class="col-lg-2 col-md-6 col-12 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
								<h5>Support Links</h5>
								<ul class="atf-list-menu">
									<li><a href="#"><i class="fas fa-angle-right mr-2"></i>Our Terms</a></li>
									<li><a href="#"><i class="fas fa-angle-right mr-2"></i>Our Service</a></li>
									<li><a href="#"><i class="fas fa-angle-right mr-2"></i>Privacy Policy</a></li>
									<li><a href="#"><i class="fas fa-angle-right mr-2"></i>Licenses</a></li>
									<li><a href="#"><i class="fas fa-angle-right mr-2"></i>Our News</a></li>
								</ul>
							</div><!--- END COL -->

							<div class="col-lg-4 col-md-6 col-12 atf-footer-link text-left wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
								<h5>Contact Us</h5>
								<div class="atf-footer-con">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas gravida nulla.</p>
								</div>
								<h4 class="text-white mt-2">Follow Us</h4>
								<div class="atf-footer-social-icon mt-3 text-left">
									<a href="#" class="icon"> <i class="fab fa-facebook"></i> </a>
									<a href="#" class="icon"> <i class="fab fa-dribbble"></i> </a>
									<a href="#" class="icon"> <i class="fab fa-behance"></i> </a>
									<a href="#" class="icon"> <i class="fab fa-linkedin"></i> </a>
									<a href="#" class="icon"> <i class="fab fa-twitter"></i> </a>
								</div>
							</div><!--- END COL -->
						</div><!--- END ROW -->
					</div><!--- END SINGLE FOOTER -->
				</div><!--- END CONTAINER -->

				<div class="atf-footer-boottom mt-4">
					<div class="container">
						<div class="row">
							<div class="col-lg-5 col-xl-5 col-12 my-auto text-lg-left wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
								<p>&copy;Copyright - All Right Reserved <i class="fa fa-heart ml-1 mr-1"></i> by <a href="#">GraphicTEC</a> </p>
							</div><!--- END COL -->

							 <div class="col-lg-7 col-xl-7 col-12">
								<div class="atf-payment-area text-lg-right my-auto mx-auto">
									<ul>
										<li><a href="#"><img src="assets/img/payment/1.png" alt="img"></a></li>
										<li><a href="#"><img src="assets/img/payment/2.png" alt="img"></a></li>
										<li><a href="#"><img src="assets/img/payment/3.png" alt="img"></a></li>
										<li><a href="#"><img src="assets/img/payment/1.png" alt="img"></a></li>
										<li><a href="#"><img src="assets/img/payment/2.png" alt="img"></a></li>
										<li><a href="#"><img src="assets/img/payment/3.png" alt="img"></a></li>
									</ul>
								</div>
							</div><!--- END COL -->
						</div><!--- END ROW -->
					</div>
				</div>
				<!-- FOOTER SECTION END-->
			</footer><!--- END FOOTER -->
		</div>
		<!-- PAGE WRAPPER END-->

		<!-- Latest jQuery -->
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<!-- Latest compiled and minified Bootstrap -->
		<script src="assets/bootstrap/js/bootstrap.js"></script>
		<!-- modernizer JS -->
		<script src="assets/js/modernizr.custom.js"></script>
		<!-- magnific-popup js -->
		<script src="assets/js/jquery.magnific-popup.js"></script>
		<!-- stellar js -->
		<script src="assets/js/jquery.stellar.min.js"></script>
		<!-- slick js -->
		<script src="assets/js/slick.js"></script>
		<!-- countdown js -->
		<script src="assets/js/jquery.countdown.js"></script>
		<!-- wow js -->
		<script src="assets/js/wow.min.js"></script>
		<!-- ajaxchimp js -->
		<script src="assets/js/ajaxchimp.min.js"></script>
		<!-- form-contact js -->
		<script src="assets/js/form-contact.js"></script>
		<!-- main js -->
		<script src="assets/js/main.js"></script>

	</body>
</html>