{% include "header.html" %}
        <div class="content">
            <h1>Prize <br><span>Bond</span> <br>Checker</h1>
            <p class="par">The whole prize bond check online is the need to search once
                or twice in the year so that you may <br>have the lucky winning number in your
                inbox and get the so big prize that will be easy fulfilling your <br>whole life
                expenses. The service of samars and samars and kalpoint prize bond check online
                this <br>feature is also most valuable for you. You must check the first draw schedule
                and find when the <br> denomination is coming next. One time using this feature will
                make you a fan of this free service.</p>

                <button class="cn"><a href="#">JOIN US</a></button>

                <div class="form">
                    <h2>Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>